body {
	background-color: #9094b8;
	font-family: "Open Sans", sans-serif;
	padding: 5px 25px;
	font-size: 18px;
}

footer {
	height: 80px;
	padding-bottom: 10px;
	background-color: #dfe0e2;
	border: 1px solid #a79d8f;
	border-radius: 12px;
	text-align: center;
}

header {
	height: 80px;
	padding-bottom: 10px;
	background-color: #dfe0e2;
	border: 1px solid #a79d8f;
	border-radius: 12px;
	text-align: center;
}
nav a {
	color:black;
}

.icons {
	list-style-type: none;
}
